colors {
  // Picton Blue
  background-color: #36a4dd;

  // Persian Red
  background-color: #dd052b;

  // Ubuntu Orange
  background-color: #eb5d0f;

  // Java
  background-color: #59bebe;

  // Chambray
  background-color: #114e90;
}